{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/kling-video/v2.1/standard/image-to-video","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/kling-video/v2.1/standard/image-to-video queue.","x-fal-metadata":{"endpointId":"fal-ai/kling-video/v2.1/standard/image-to-video","category":"image-to-video","thumbnailUrl":"https://v3.fal.media/files/elephant/5Yt8D9tl-IaGQ-6czSXL1_HHQ_VCby6xP_DFLkQQLpV_3c8622214c4c4ac29b4b64e157746507.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/kling-video/v2.1/standard/image-to-video","documentationUrl":"https://fal.ai/models/fal-ai/kling-video/v2.1/standard/image-to-video/api","about":"Kling 2.1 (std) Image to Video API."}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"KlingVideoV21StandardImageToVideoInput":{"type":"object","title":"ImageToVideoV21StandardRequest","properties":{"prompt":{"examples":["As the sun dips below the horizon, painting the sky in fiery hues of orange and purple, powerful waves relentlessly crash against jagged, dark rocks, their white foam a stark contrast to the deepening twilight; the textured surface of the rocks, wet and glistening, reflects the vibrant colors, creating a mesmerizing spectacle of nature's raw power and breathtaking beauty"],"type":"string","title":"Prompt","maxLength":2500},"image_url":{"examples":["https://storage.googleapis.com/falserverless/model_tests/kling/kling-image-to-video.jpg"],"type":"string","title":"Image Url","description":"URL of the image to be used for the video"},"duration":{"type":"string","enum":["5","10"],"title":"Duration","description":"The duration of the generated video in seconds","default":"5"},"cfg_scale":{"maximum":1,"title":"Cfg Scale","type":"number","description":"\n            The CFG (Classifier Free Guidance) scale is a measure of how close you want\n            the model to stick to your prompt.\n        ","minimum":0,"default":0.5},"negative_prompt":{"type":"string","title":"Negative Prompt","maxLength":2500,"default":"blur, distort, and low quality"}},"required":["prompt","image_url"],"x-fal-order-properties":["prompt","image_url","duration","negative_prompt","cfg_scale"]},"KlingVideoV21StandardImageToVideoOutput":{"type":"object","title":"ImageToVideoV21StandardOutput","properties":{"video":{"examples":[{"url":"https://v3.fal.media/files/koala/17e3xh08J4_PkHS_0cbwF_output.mp4"}],"$ref":"#/components/schemas/File","description":"The generated video"}},"required":["video"],"x-fal-order-properties":["video"]},"File":{"type":"object","title":"File","properties":{"content_type":{"examples":["image/png"],"title":"Content Type","anyOf":[{"type":"string"},{"type":"null"}],"description":"The mime type of the file."},"file_size":{"examples":[4404019],"title":"File Size","anyOf":[{"type":"integer"},{"type":"null"}],"description":"The size of the file in bytes."},"url":{"type":"string","title":"Url","description":"The URL where the file can be downloaded from."},"file_name":{"examples":["z9RV14K95DvU.png"],"title":"File Name","anyOf":[{"type":"string"},{"type":"null"}],"description":"The name of the file. It will be auto-generated if not provided."}},"required":["url"],"x-fal-order-properties":["url","content_type","file_name","file_size"]}}},"paths":{"/fal-ai/kling-video/v2.1/standard/image-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/kling-video/v2.1/standard/image-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/kling-video/v2.1/standard/image-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlingVideoV21StandardImageToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/kling-video/v2.1/standard/image-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlingVideoV21StandardImageToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}